PORT=8080
DATABASE_URL=postgresql://neondb_owner:npg_Sfq8DR7CLvgi@ep-young-butterfly-ad76jn6k-pooler.c-2.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
JWT_SECRET=supersecret_change_me
